body, html {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
  }
  
  .bgimg {
    background-image: linear-gradient(
        rgba(0,0,0,0.1),
        rgba(0,0,0,0.8)
        ),url('./Asserts/danielle-gehler-dvHFa8FJ9RY-unsplash.jpg');
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
    /* font-family: "Courier New", Courier, monospace; */
    font-size: 25px;
  }
  a{
      text-decoration: none;
      color: white;
  }
  .topright {
    position: absolute;
    top: 0;
    right: 16px;
  }
  
  .bottomleft {
    position: absolute;
    bottom: 0;
    left: 16px;
  }
  
  .middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  hr {
    margin: auto;
    width: 40%;
  }


  /* card */
  .products{
      margin-top: 50px;
      
  }


.product__image{
  margin: 10px;
    height: 300px;
    width:250px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
}

.logo{
  height: 75px;
  width: 75px;
  object-fit: contain;
}